:root{
  --azul:#0C70F2;
  --cinza: #F2F2F2;
  --fonte: 'Inter';
}


.App {
 align-items: center;
}

*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color:var(--cinza);
  color: white;
}

.Header{
  background-color:var(--azul);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  font-family: var(--fonte);
}

.logo{
  padding-left: 60px;
  padding-top: 5px;
  text-align: left;
  font: 50px;
  font-family: Inter;
  font-size: 35px;
  font-weight: 800px;
  line-height: 60.51px;
  text-align: left;
}

.menuHeader{
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-around;
  text-align: right;
  padding-bottom: 20px;
  margin-right: 20px;
}

.lista{
  padding-top: 20px;
  list-style-type: none;
  padding-right: 20px;
  font-family:var(--fonte);
  font-size: 18px;
  font-weight: 800;
  line-height: 30.26px;
  text-align: left;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.section{
  padding-top: 80px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75% 1fr;
}

.sectionTitulo{
  padding-top: 40px;
  padding-left: 30%;
  color: black;
  font-family:var(--fonte);
  font-size: 50px;
  font-weight: 800;
  line-height: 60.51px;
  text-align: left;
}

.containner{
  margin-top: 100px;
  background-color:#FFFFFF;
  color:black;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  border-radius:30px;
  padding: 40px;
}

.label{
font-family:var(--fonte);
 font-size: 20px;
 font-weight: 400px;
 text-align: left;
}

.input{
width: 500px;
height: 45px;
border-radius: 10px 10px 10px 10px;
background-color: #F2F2F2E5;
border: 0px;
padding-left: 15px;
margin-top: 15px;
margin-bottom: 25px;
}

.input::placeholder{
  color: #39393980;
}

.input1{
width: 230px;
height: 45px;
border-radius: 10px 10px 10px 10px;
background-color: #F2F2F2E5;
border: 0px;
padding-left: 15px;
margin-top: 15px;
margin-bottom: 25px;
}

.input1::placeholder{
  color:#39393980;
}

.input2{
  width: 230px;
  height: 45px;
  border-radius: 10px 10px 10px 10px;
  background-color: #F2F2F2E5;
  border: 0px;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  }

  .input2::placeholder{
    color:#39393980;
  }

  .button{
    width: 510px;
    height: 45px;
    border-radius: 10px 10px 10px 10px;
    background-color:#0C70F2E5;
    box-shadow: 0px 6px 4px 0px #0C70F240;
    border: 0px;
    color:#FFFFFF;
    font-family:var(--fonte);
    font-size: 25px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: center;
    margin-top:50px;
    cursor: pointer;
  }

  .button:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}

  .tituloResultadoCep{
  align-items: center;
  padding-top: 80px;
  display: grid;
  grid-auto-flow: column;
  }

  .tituloCep{
    padding-top: 40px;
    color: black;
    font-family:var(--fonte);
    font-size: 50px;
    font-weight: 800;
    line-height: 60.51px;
    text-align: right;
  }

  .menuResultadoCep{
  text-align: center;
  }

  .resuldadoCepSup{
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1024px;
    height: 72px;
    border-radius: 30px 30px 0px 0px;
    background-color:#0C70F2;
    color:#FFFFFF;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
  }

  .resuldadoCepInf{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1024px;
    height: 72px;
    border-radius: 0px 0px 30px 30px;
    background-color:white;
    color:#1F1F1F;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.2px;
    text-align: left;
  }

  .inputResultCepInf{
    width: 200px;
    height: 26px;
    font-family:var(--fonte);
    font-size: 18px;
    font-weight: 800;
    line-height: 24.2px;
    text-align: left;
    color:#1F1F1F;
    border: 0px;    
  }

  .tituloResultadoClima{
    align-items: center;
    padding-top: 80px;
    display: grid;
    grid-auto-flow: column;
    }
  
    .tituloClima{
      padding-top: 40px;
      color: black;
      font-family:var(--fonte);
      font-size: 50px;
      font-weight: 800;
      line-height: 60.51px;
      text-align: right;
    }

    .resultadoClima{       
      padding: 20px;
      text-align: center;
      align-items: center;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: auto;
      border-radius: 30px 30px 30px 30px;
      border: 1px 0px 0px 0px;
      background-color: #FFFFFF;
      border: 1px solid #0C70F2;
      color:#1F1F1F;
    }

    .inputResultClima{
      font-family:var(--fonte);
      font-size: 20px;
      font-weight: 800;
      line-height: 24.2px;
      text-align: center;
      color:#1F1F1F;
      border: 0px; 
      width: 100%;   
    }

    .footer{
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      background-color: #0C70F2;
      list-style-type: none;
      text-align: right;
      align-items: center;
    }

    .menuFooter{
      display: flex;
      width: auto;
      height: auto;
      justify-content: space-around;
      text-align: right;
      padding-right: 20px;
    }

    .menuFooter .itemFooter:first-child{
      border-right: 2px solid white;
      padding-right: 20px;
  }

    .itemFooter{
      margin-right: 20px;
    }

    @media only screen and (max-width: 1200px){
            
      .sectionTitulo{
        font-size: 25px;   
      }

      .containner{
        width: 450px;
        padding: 30px;
      }

      .label{
       font-size: 18px;
      }

      .input{
        width: 100%;
      }

      .input1{
        width: 200px;
      }

      .input2{
        width: 200px;
      }

      .button{
        width: 100%;
      }
      
      .lista{
        font-size: 12px;
      }

      .imagem1{
        width: 120px;
      }
      .tituloCep{
        font-size: 30px;
      }
      .imagem2{
        width: 100px;
      }
      
      .resuldadoCepSup{
        width: 80%;
        height: 72px;
        font-size: 12px;
      }

      .resuldadoCepInf{
        width: 80%;
        height: 72px;
        font-size: 12px;
      }

      .inputResultCepInf{
        width: auto;
        display: flex;
        justify-content: space-between;
        height: 72px;
        font-size: 10px;
        color: black;
      }
      .imagem3{
        width: 100px;
      }
      .tituloCep{
        font-size: 30px;
      }
      .inputResultClima{
        font-size: 15px;
      }
    }

    @media only screen and (max-width: 900px){
      .sectionTitulo{
        font-size: 20px;  
      }

      .tituloCep{
        font-size: 20px;
      }

      .inputResultCepInf{
      font-size: 8px;
      }
    }
  









